@use "../root"


.main.light
     background-color: root.$color_white

.main.dark
    background-color: root.$color_dark2

.main
    width: 100vw
    height: 100vh

    display: grid

    grid-template-areas: "_left _main _right" "_footer _footer _footer" 
    grid-template-columns: 0.9fr 1.9fr 1.2fr
    grid-template-rows: 10fr 1fr


    .left_container
        grid-area: _left
        height: 100%

        display: flex
        flex-direction: column
        justify-content: space-between

        padding-left: 5%


    .right_container
        grid-area: _right
        height: 100%

        display: flex
        flex-direction: column
        justify-content: space-between
        box-sizing: border-box
        padding: 2% 5% 2% 3%
    
    .main_container.light
        border-left: 1px solid root.$color_border_light
        border-right: 1px solid root.$color_border_light
    
    .main_container.dark
        border-left: 1px solid root.$color_dark4
        border-right: 1px solid root.$color_dark4

    .main_container
        grid-area: _main
        height: 100%
        overflow: hidden
    
    .footer
        grid-area: _footer
        height: 100%


    
::-webkit-scrollbar 
  width: 0px
  height: 0px

