.main
    width: 100vw
    height: 100vh

    display: grid
    grid-template-areas: "left main right" "footer footer footer" 
    grid-template-columns: 1fr 2fr 1fr
    grid-template-rows: 2fr 1fr
    

    .left_container
        height: 100%
        grid-area: left

        display: flex
        flex-direction: column
        justify-content: space-between

        padding-left: 5%
    
    .right_container
        grid-area: right

    
    .main_container
        grid-area: main
    
    .footer
        grid-area: footer

