@use "../root"
    
    
.container_menuLateral
    display: flex
    flex-direction: column
    gap: 25px
    width: 25%
    height: 75%

.button_menuLateral
    height: 7%
    width: 90%
    border-radius: 100px
    border: none

    background-color:  root.$color_principal
    color: root.$color_text_button
    