@use "../root"

.item_menu
    height: 25px
    display: flex
    align-items: center
    gap: 20px

    p 
        a
            color: root.$color_black
            font-size: root.$font_size-lg
            font-weight: 700

.icon_menu
    height: 100%


