@use "../root"
    
    
.container_menuLateral
    display: flex
    flex-direction: column
    gap: 20px
    width: 25%
    height: 90%

    padding-left: 5%
    position: relative


    .button_menuLateral
        @include root.buttonPattern()
        
        height: 10%
        max-height: 50px
        width: 80%
        max-width: 212px
        border-radius: 100px
    
        background-color:  root.$color_blue_principal
        color: root.$color_white
        