@use "../root"

.news_card.dark
    border-top: 1px solid root.$color_dark4

.news_card.light
    border-top: 1px solid root.$color_border_light

.news_card
    width: 100%

    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center
    
    
    .news_content_image
        width: 30%
        height: 70%

        img
            width: 100%
            height: 100%
            border-radius: 16px
    
    .news_container_main
        width: 95%
        height: 100%
        
        .news_header
            p
                display: inline-block
                margin-left: 5px
                color: root.$color_dark5
            
            .news_keywork
                font-size: root.$font_size-md2
            
            .news_time
                font-size: root.$font_size-md1

        .news_title
            font-weight: 700
            font-size: root.$font_size-md2


        .news_footer
            color: root.$color_dark5

            span
                color: root.$color_blue_principal
