@use "../root"


aside
    width: 25%
    height: 100%

    .container_news
        width: 100%
        height: 60%

        .search_news

            height: 30px

            border: none
            border-radius: 50px
            background-color: #EBEEF0

            padding-left: 10px