@use "../root"

.container_news
    width: 25%
    height: 70%

    .search_news

        height: 30px

        border: none
        border-radius: 50px
        background-color: #EBEEF0

        padding-left: 10px