@use "../root"


.container_news.dark
    background-color: root.$color_dark3

.container_news.light
    background-color: #F7F9FA
  

.container_news
    width: 100%
    height: 50%
    display: flex
    flex-direction: column
    justify-content: space-evenly
    border-radius: 16px

    box-sizing: border-box
    padding: 2%


.whats
    font-size: root.$font_size-lg
    font-weight: 700

  