@use "../root"

.post
    width: 90%
    height: 150px

    display: flex
    flex-direction: column
    justify-content: space-between


    margin: 0 auto

    .post_text
        height: 45%
        display: flex
        gap: 10px
        
        .image_profile
            width: 80px
            height: 80px
            border-radius: 100%

        
        .input_tweet
            width: 80%
            height: 75px
            border: none
            background-color: transparent
            color: root.$color_dark5

    .post_options
        width: 80%
        height: 45%
        align-self: flex-end
        display: flex
        justify-content: space-between
        align-items: center

        .post_icons_container

            .post_icons
                 margin-right: 10px

        .post_btn
            @include root.buttonPattern()
            
            background-color: root.$color_blue_principal
            color: root.$color_white
            opacity: 0.5

            width: 20%
            height: 30px
            border-radius: 100px

            
            




