$color_principal: #1DA1F2

$color_text_principal: #0F1419
$color_text_secundary: #5B7083
$color_text_darkmode: #fff
$color_text_button: #fff
$color_text_selected: #1DA1F2

@mixin buttonPattern()
    font-weight: 700
    font-size: 15px
    border: none
    cursor: pointer

@mixin textPattern()
    font-weight: 700

@mixin photoUser()
     width: 15%
     max-width: 50px

     border-radius: 100%